@{
    ViewData["Title"] = "Disclaimer";
}

<div class="kiosk-container">
    <h1 class="display-4">Disclaimer</h1>
    <p>Please read and accept the disclaimer.</p>
    <button class="btn btn-success btn-lg btn-block" onclick="acceptDisclaimer()">Yes</button>
    <button class="btn btn-danger btn-lg btn-block" onclick="rejectDisclaimer()">No</button>
</div>



<script>


    setTimeout(function() {
        window.location.href = "/Home/"; // Redirect to the index screen after 15 seconds
    }, 15000);

    function goToHome() {
        window.location.href = "/Home"; // Redirect to the index screen manually
    }
    function acceptDisclaimer() {
        window.location.href = '/Home/Action'; // Redirect to the next screen
    }

    function rejectDisclaimer() {
        window.location.href = '/Home/ContactReception'; // Redirect to the reception screen
    }


</script>
